{
  "extends": "standard",
  "rules": {
    "block-scoped-var": 2,
    "consistent-this": [2, "self"],
    "max-len": [1, 80, 2],
    "max-nested-callbacks": [2, 4],
    "no-process-exit": 0,
    "no-underscore-dangle": 2,
    "no-unused-expressions": 2,
    "no-warning-comments": [2, {"terms": ["@bug"]}],
    "strict": [2, "never"],
    "valid-jsdoc": 2
  }
}
